:root{
  --primary-color: #000000;
  --secondary-color: rgba(28,28,29,255);
  --tertiary-color: rgba(28,28,30,255);
  --text-color: #fff;
}

html,
body{
  min-height: 100%;
  min-width: 100%;
}

body{
  color: var(--text-color);
  background-color: var(--primary-color);
}

/* *{
  outline: 1px solid var(--text-color);
} */

.App{
  min-height: 100vh;
  min-width: 100%;
  padding-bottom: 3em;
}

.site-title,
h1,
h2,
h3,
p,
li,
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/** Navbar **/

.nav-container, .search-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color);
  background-color: var(--secondary-color);
  margin: 0;
  padding: .7em 0;


  position: fixed;
  top: 0;
  width: 100%;

}

.material-icons{
  font-size: 1.9rem;
  cursor: pointer;
}

/* Search bar */
.search-bar > input{
  color: var(--text-color);
} 

.navbar-item{
  display: block;
}
.searchbar-item{
  display: flex;
}
.search-input{
  background-color: var(--tertiary-color);
  transform: translateZ(0);
  border-radius: 7px;

  padding: .4em 2em;

  border: 1px solid var(--text-color);

}


/**                                **/

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 5em;


  width: 95%;
  margin: 0 auto;
  
}

/* Mid box */

.UserClickableMidBox{
  display: flex;
  flex-direction: column;

  max-width: 100%;

  background-color: var(--secondary-color);
  border-radius: 7px;

  padding: .7em;
  margin-top: 1em;

  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.hide-content{
  text-overflow: ellipsis;
}

.main-box-data{
  display: flex;
  align-items: center;

  margin-top: .7em;
}

.title-item{
  margin-bottom: 0;
  margin-right: .5em;
}
.rate-item{
  margin-right: .5em;
}
.count-item{
  margin-right: .5em;
}
.date-item{
  color: gray;
  margin-bottom: .7em;
  
  font-size: .7rem;
}
.content-item{
  margin-bottom: .7em;
}
.image-item{
  width: 100%;
}


/* minibox-container */

.minibox-container{
  border-bottom: 1px var(--text-color) solid;
  padding-bottom: 1em;
  text-align: center;

  width: 100%;
}

/* Sidebar*/
.sidebar-container{
  display: flex;
  flex-direction: column;

  /* padding: 1em 0; */
  padding-right: 0;

  backdrop-filter: blur(10px);
  background-color: rgba(28,28,29,.90);
  color: var(--text-color);

  position: fixed;
  left: 0;

  height: 100%;
  width: 60%;

  box-shadow: 90px 30px 300px rgba(0,0,0,0.90), 0 15px 12px rgba(0,0,0,0.92);

  
}

.sidebar-item{
  padding: 1em 0; /* Might cause unintended click while on mobile */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  border-bottom: 1px rgba(75, 75, 75, 0.644) solid;
}
.sidebar-item-name{
  padding-left: 1em;
}

.sidebar-item > span {
  padding-right: 1em;
}


.sidebar-bg{

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 100%;
  width: 100%;

}